{% extends "layout/basic.html" %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<form action="{% url 'main:vote' polls.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>{{ polls.question }}</h1></legend>
    {% for choice in polls.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
    <img src="{{ polls.poll_avatar.url }}"width="350px"><br><br>
</fieldset>
<input type="submit" value="Проголосовать">
</form>
{% else %}
<h3>Вы не можете голосовать, авторизуйтесь в систему</h3>
{% endif %}
{% endblock %}
